* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
    padding: 12px;
}

table, tr, th, td {
    border: solid 1px;
}

nav ul {
    background-color: dodgerblue;
    padding: 12px;
}
nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    color: white;
    padding: 0 12px;
}

main {
    padding: 12px;
}
/***** alert *****/
.alert {
    padding: 12px;
    margin: 12px 0;
    text-align: center;
    background-color: lightgray;
}